


/* ___ Main Card Styling ___ */
.card {
    width: 90%;
    max-width: 350px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.card{
    opacity: 0;
    animation: fadeIn 1s forwards;
}   


.dark {
    background-color: #1e1e1e;
  color: #f2f2f2;
}

.dark button {
    background-color: #444;
}

.dark a {
    color: #66aaff;
}


/*___ Profile Image ___ */

.profile-pic {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #eee;
    transition: transform 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
}




@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

button {
    padding: 10px 18px;
    margin: 10px 5px;
    border: none;
    border-radius: 6px;
    background-color: #0077ff;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color:#005fcc;
}

/* Mobile Media Query */

@media (max-width: 600px) {
    .card {
        padding: 15px;
        margin: 20px;
    }

    .profile-pic {
        width: 90px;
        height: 90px;
    }
    button {
        width: 100%;
        margin-top: 10px;
    }
}

